/* colors */
:root {
	--color-primary: #314856;
	--color-secondary: #ffe2c4;
    --color-secondary-hard: #a67f48;
    --color-intermediate: #798881;
    --color-main: #ecbbad;
}

/* background */
.bg-db{
    background-image: url("../Images/budapest-hotel.jpg");
    background-size: contain;
    height: 100vh;
}

/* Login page */
.db-form{
    width: 500px;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: var(--color-secondary);
    padding: 10px;
    border-radius: 0.375rem;
    border: 1px solid var(--color-secondary-hard);
}

.db-form h1,
.db-form label{
    color: var(--color-primary)
}

.db-form button{
    margin-left: auto;
    display: block;
    background-color: var(--color-primary);
    color: var(--color-secondary);
    padding: 0.375rem 0.75rem;
    border-radius: 0.375rem;
    border: 1px solid white;
}

.db-form button:hover{
    background-color: var(--color-main);
    color: var(--color-primary);
    border: 1px solid rgba(128, 128, 128, 0.705);
}

.db-form .form-control:focus{
    color: var(--bs-body-color);
    background-color: var(--bs-body-bg);
    border-color: gray;
    outline: 0;
    box-shadow: 0 0 0 .25rem rgba(128, 128, 128, 0.705);
}

/*logo img*/
.logo-img{
    border-radius: 30px;
}

.db-form .logo-img{
    width: 50px;
}

header .logo-img{
    width: 40px;
}

/* header */
header{
    background-color: var(--color-secondary-hard);
    padding: 10px 30px;
}